/* 페이지 컨테이너 */
.page_container{
    position: absolute;
    width: 1920px;
    height: 3831px;
    left: 0px;
    top: 0px;
    background: #65fff7;
}

/* @@@@@@@@@@@@@@ */
/* 헤더 */
.header{
    position: absolute;
    width: 1920px;
    height: 756px;
    left: 0px;
    top: 0px;

    background: #F8BAA0;
}
/* 메뉴 */
a{ text-decoration: none; }
/* 헤더 아래 있는 링크 */
.header a{
    position: absolute;
    height: 22px;
    top: 58px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 22px;

    color: #FFFFFF;

    text-decoration: NONE;
}
/* 메뉴1 평상시 */
#menu1:link,#menu1:visited,#menu1:focus{
    position: absolute;
    width: 60px;    
    left: 828px;
    
    font-weight: 400;
    font-size: 15px;
}
/* 메뉴1 올렸을때  */
#menu1:hover{
    position: absolute;
    width: 60px;    
    left: 826px;

    font-weight: 550;
    font-size: 17px;

}
/* 메뉴2 평상시 */
#menu2:link,#menu2:visited,#menu2:focus{ 
    width: 70px;    
    left: 930px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴2 올렸을때  */
#menu2:hover{
    width: 80px;    
    left: 927px;

    font-weight: 550;
    font-size: 17px;
}
/* 메뉴3 평상시 */
#menu3:link,#menu3:visited,#menu3:focus{ 
    width: 70px;    
    left: 1046px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴3 올렸을때  */
#menu3:hover{
    width: 80px;
    left: 1044px;

    font-weight: 550;
    font-size: 17px; 
}
/* 헤더 아래있는 이미지 */
.header img{
    position: absolute;
}
/* 로고 이미지 */
#logo_img{      
    left: 295px;
    top: 215px; 
    height: 300px;
}
/* 앱 이미지 */
#app_img1, #app_img2{
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    z-index: 1;
}
#app_img1{
    left: 1055px;
    top: 203px;
}
#app_img2{
    left: 1400px;
    top: 69px;
}
/* 헤더 아래 있는 글씨 */
.header p{
    position: absolute;
    width: 630px;
    left: 370px;

    font-family: 'Roboto';
    font-style: normal;

    color: #FFFFFF;  
}
#def1{
    position: absolute;
    height: 56px;
    top: 385px;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;  
}
#def2{
    position: absolute;
    height: 33px;
    top: 485px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}
#def3{
    position: absolute;
    height: 116px;
    top: 560px;
    
    font-weight: 530;
    font-size: 18px;
    line-height: 29px;   
}

/* @@@@@@@@@@@@@@ */
/* 배너 1 */
.banner1{
    position: absolute;
    width: 1920px;
    height: 1242px;
    left: 0px;
    top: 756px;
    color: #000000;
    background: #FFFFFF;
}
/* 문제점 멘트 */
#pro_name, #pro_intro{
    position: absolute;
    width: 400px;

    font-family: 'Roboto';
    font-style: normal;

    text-align: center;
    color: #000000; 
}
#pro_name{
    height: 47px;
    left: 770px;
    top: 180px;
    
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
#pro_intro{
    height: 29px;
    left: 772px;
    top: 260px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}
/* 문제점들 */
.pro{
    position: absolute;
    height: 65px;

    border: 2px solid #F8BAA0;
    border-radius: 100px; 
    text-align: center;  
    line-height: 33px; 
}
#pro1{
    width: 347px;
    left: 465px;
    top: 340px;
}
#pro2{
    width: 613px;
    left: 842px;
    top: 340px;
}
#pro3{
    width: 398px;
    left: 376px;
    top: 435px;
}
#pro4{
    width: 182px;
    left: 804px;
    top: 435px;
}
#pro5{
    width: 531px;
    left: 1016px;
    top: 435px;
}
#pro6{
    width: 517px;
    left: 415px;
    top: 530px;
}
#pro7{
    width: 543px;
    left: 962px;
    top: 530px;
}
#orange_line{
    position: absolute;
    width: 150px;
    height: -1px;
    left: 890px;
    top: 730px;
    text-align: center;
    border: 2px solid #F8BAA0;
    transform: rotate(90deg);    
}
/* 업그레이드 디브 */
.upgrade{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 872px;
    background: #F3F3F3;
    border-radius: 20px;
}
.upgrade:hover, .upgrade:active{
    position: absolute;
    width: 300px;
    height: 310px;
    top: 855px;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 20px;

    background: #FFFFFF;

    transition: 0.5s;
}
#upgrade1{
    left: 180px;
}
#upgrade2{
    left: 500px;
}
#upgrade3{
    left: 820px;
}
#upgrade4{
    left: 1140px;
}
#upgrade5{
    left: 1460px;
}
/* 업그레이드 이미지 */
.upgrade img{
    position: absolute;
    top: 30px; 
    left: 25%; 

    opacity: 0.75;
    text-align: center;
}
.upgrade:hover > #upic{
    /* top: 40px;  */
    opacity: 1; 
    transition: 0.5s;
}
#upgrade1 img{
    left: 20%;
}
/* 업그레이드 글씨 */
.upgrade p{
    position: absolute;
    width: 250px;
    height: 58px;
    top: 65%;

    font-weight: 400;
    font-size: 17px;
    line-height: 180%;

    text-align: center;
    color: #616161;
    margin-left: 5%;
}
.upgrade:hover > #up{
    width: 300px;
    top: 190px;

    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    
    text-align: center;
    
    color: #000000;
    margin-left: 0%;
    transition: 0.5s;
}
/* @@@@@@@@@@@@@@ */
/* 배너2 */
.banner2{
    position: absolute;
    width: 1920px;
    height: 440px;
    left: 0px;
    top: 1998px;

    background: #FFF8EE;
    border-radius: 0px;
}
.banner2 p{
    position: absolute;
    width: 850px;
    left: 350px;

    font-family: 'Roboto';
    font-style: normal;
}
#nam_name{
    height: 42px;
    top: 90px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #F8BAA0;
}
#nam_naming{
    height: 116px;
    top: 174px;
    
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.5);    
}
#napic{
    position: absolute;
    left: 1210px;
    top: 39px;    
}

/* @@@@@@@@@@@@@@ */
/* 배너3 */
.banner3{
    position: absolute;
    width: 1920px;
    height: 1045px;
    left: 0px;
    top: 2438px;

    background: #FFFFFF;
}
/* 육하원칙 디브*/
.b3_six{
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 180px;
    top: 140px;

    border: 2px solid #F8BAA0;
    border-radius: 100px; 

    font-weight: 500;
    font-size: 20px;
    line-height: 135px;

    text-align: center;  
    color: #616161;

    background-color: #FFFFFF;
    
    /* z-index: 1; */
}
.b3_six:hover, .b3_six:active{
    box-sizing: border-box;

    position: absolute;
    width: 280px;
    height: 280px;

    border-radius: 100%;

    transition: 1s;
}
.b3_six:hover > #six{
    font-weight: 700;
    font-size: 24px;

    color: #000000;
}
.b3_six:hover ~ .b3_six{
    position: absolute;
    margin-left: 100px;
    transition: 1s;
    /* transition-timing-function: ease; */
}
#six_rule1{
    left: 351px;
}
#six_rule2{
    left: 561px;
}
#six_rule3{
    left: 771px;
}
#six_rule4{
    left: 981px;
}
#six_rule5{
    left: 1191px;
}
#six_rule6{
    left: 1401px;
}
#rule{
    /* display: none; */
    position: absolute;
    width: 280px;
    top: 110px;
    margin-left: -15%;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;

    text-align: center;
    color: #ff767600;
}
.b3_six:hover > #rule{
    position: absolute;
    width: 280px;
    top: 110px;

    margin-left: 0%;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;

    text-align: center;

    color: rgba(52, 52, 52, 0.9);
    transition: 0.9s;
    /* transition: 0.5s; */
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* 공유박스 */
.sha_name{
    position: absolute;
    left: 430px;
    top: 450px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}
input[type="radio"]{
    display: none;
}
.sha_box{
    display: none;
}
.btn{
    padding: 10px;
    text-align: center;
}
label[for*="tab"]{
    /* position: absolute; */
    /* top: 916px; */

    display: inline-block;
    padding: 10px;
    border: 2px solid #F8BAA0;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 5px;
    border-radius: 100%;
    margin-top: 915px;
    
}
input[id="tab01"]:checked ~ #sha_box1{
    display: block;
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
} 

input[id="tab02"]:checked ~ #sha_box2{
    display: block;
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
input[id="tab03"]:checked ~ #sha_box3{
    display: block;
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
} 
input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
    background-color: #F8BAA0;
}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
    background-color: #F8BAA0;
}
input[id="tab03"]:checked ~ .btn > label[for="tab03"]{
    background-color: #F8BAA0;
}
.sha_box{
    position: absolute;
    width: 1092px;
    height: 306px;
    left: 422px;
    top: 582px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
}
#sha_name{
    position: absolute;
    width: 400px;
    height: 42px;
    left: 60px;
    top: 30px;
    font-weight: 700;

    color: #000000;

    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
#sharing{
    position: absolute;
    width: 790px;
    height: 116px;
    left: 60px;
    top: 110px;

    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: rgba(0, 0, 0, 0.5);
}
.sha_box img{
    position: absolute;
    width: 160px;
    height: 160px;
    left: 869px;
    top: 69px;
}

/* @@@@@@@@@@@@@@ */
/* 배너4 */
.banner4{
    position: absolute;
    width: 1920px;
    height: 348px;
    left: 0px;
    top: 3483px;

    background: #FFF8EE;
}
#plus, #cha_name, #cha_intro{
    position: absolute;
    text-align: center;
}
#plus{
    width: 40px;
    height: 29px;
    left: 940px;
    top: 35px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    
    color: #939393;
}
#cha_name{
    width: 370px;
    height: 42px;
    left: 780px;
    top: 60px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #000000;    
}
#cha_intro{
    width: 350px;
    height: 29px;
    left: 791px;
    top: 135px;

    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #5F5F5F;
}
.banner4 div{
    position: absolute;
    width: 220px;
    height: 70px;
    top: 214px;

    background: #F8BAA0;
    border-radius: 100px;    

    font-weight: 700;
    font-size: 20px;
    line-height: 70px;

    color: #FFFFFF;
    text-align: center; 
}
#btn1{
    left: 710px;
}
#btn2{
    left: 990px;
}