/* 페이지 컨테이너 */
.page_container{
    position: absolute;
    width: 1920px;
    height: 3831px;
    left: 0px;
    top: 0px;
    background: #65fff7;
}

/* @@@@@@@@@@@@@@ */
/* 헤더 */
.header{
    position: absolute;
    width: 1920px;
    height: 756px;
    left: 0px;
    top: 0px;

    background: #F8BAA0;
}
/* 메뉴 */
a{ text-decoration: none; }
/* 헤더 아래 있는 링크 */
.header a{
    position: absolute;
    height: 22px;
    top: 58px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 22px;

    color: #FFFFFF;
}
/* 메뉴1 평상시 */
#menu1:link,#menu1:visited,#menu1:focus{
    position: absolute;
    width: 60px;    
    left: 828px;
    
    font-weight: 400;
    font-size: 15px;
}
/* 메뉴1 올렸을때  */
#menu1:hover{
    position: absolute;
    width: 60px;    
    left: 826px;

    font-weight: 550;
    font-size: 17px;
}
/* 메뉴2 평상시 */
#menu2:link,#menu2:visited,#menu2:focus{ 
    width: 70px;    
    left: 930px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴2 올렸을때  */
#menu2:hover{
    width: 80px;    
    left: 927px;

    font-weight: 550;
    font-size: 17px;
}
/* 메뉴3 평상시 */
#menu3:link,#menu3:visited,#menu3:focus{ 
    width: 70px;    
    left: 1046px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴3 올렸을때  */
#menu3:hover{
    width: 80px;
    left: 1044px;

    font-weight: 550;
    font-size: 17px; 
}
/* 헤더 아래있는 이미지 */
.header img{
    position: absolute;
}
#logo_img{      
    left: 370px;
    top: 306px;
}
#app_img1, #app_img2{
    left: 1055px;

    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    border-radius: 10px;

    z-index: 1;
}
#app_img1{
    top: 203px;
}
#app_img2{
    left: 1398px;
    top: 69px;
}
/* 헤더 아래 있는 글씨 */
.header p{
    position: absolute;
    width: 630px;
    left: 370px;

    font-family: 'Roboto';
    font-style: normal;

    color: #FFFFFF;  
}
#def1{
    position: absolute;
    height: 56px;
    top: 385px;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;  
}
#def2{
    position: absolute;
    height: 33px;
    top: 485px;
    
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
}
#def3{
    position: absolute;
    height: 116px;
    top: 560px;
    
    font-weight: 530;
    font-size: 18px;
    line-height: 29px;   
}

/* @@@@@@@@@@@@@@ */
/* 배너 1 */
.banner1{
    position: absolute;
    width: 1920px;
    height: 1242px;
    left: 0px;
    top: 756px;
    color: #000000;
    background: #FFFFFF;
}
/* 문제점 멘트 */
#pro_name, #pro_intro{
    position: absolute;
    width: 400px;

    font-family: 'Roboto';
    font-style: normal;

    text-align: center;
    color: #000000; 
}
#pro_name{
    height: 47px;
    left: 770px;
    top: 180px;
    
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
#pro_intro{
    height: 29px;
    left: 772px;
    top: 260px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}
/* 문제점들 */
.pro{
    position: absolute;
    height: 65px;

    border: 2px solid #F8BAA0;
    border-radius: 100px; 
    text-align: center;  
    line-height: 33px; 
}
#pro1{
    width: 347px;
    left: 465px;
    top: 340px;
}
#pro2{
    width: 613px;
    left: 842px;
    top: 340px;
}
#pro3{
    width: 398px;
    left: 376px;
    top: 435px;
}
#pro4{
    width: 182px;
    left: 804px;
    top: 435px;
}
#pro5{
    width: 531px;
    left: 1016px;
    top: 435px;
}
#pro6{
    width: 517px;
    left: 415px;
    top: 530px;
}
#pro7{
    width: 543px;
    left: 962px;
    top: 530px;
}
#orange_line{
    position: absolute;
    width: 150px;
    height: -1px;
    left: 890px;
    top: 730px;
    text-align: center;
    border: 2px solid #F8BAA0;
    transform: rotate(90deg);    
}
/* 업그레이드 */

#upgrade1, #upgrade2, #upgrade3, #upgrade4, #upgrade5{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 872px;
    opacity: 0.9;
    background: #F3F3F3;
    border-radius: 20px;
}
#upgrade1{    
    left: 160px;
}
#upgrade2{
    left: 500px;
}
#upgrade3{
    left: 820px;
}
#upgrade4{
    left: 1140px;
}
#upgrade5{
    left: 1460px;
}
.upgrade img{
    position: absolute;
    top: 30px; 
    left: 70px; 

    opacity: 0.75;
}
.upgrade p{
    position: absolute;
    width: 250px;
    height: 58px;
    top: 176px;

    font-weight: 400;
    font-size: 17px;
    line-height: 29px;

    text-align: center;
    color: #616161;
    margin-left: 5%;
}

/* @@@@@@@@@@@@@@ */
/* 배너2 */
.banner2{
    position: absolute;
    width: 1920px;
    height: 440px;
    left: 0px;
    top: 1998px;

    background: #FFF8EE;
    border-radius: 0px;
}
.banner2 p{
    position: absolute;
    width: 850px;
    left: 350px;

    font-family: 'Roboto';
    font-style: normal;
}
#nam_name{
    height: 42px;
    top: 90px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    
    color: #F8BAA0;
}
#nam_naming{
    height: 116px;
    top: 174px;
    
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.5);    
}
#napic{
    position: absolute;
    left: 1210px;
    top: 39px;    
}

/* @@@@@@@@@@@@@@ */
/* 배너3 */
.banner3{
    position: absolute;
    width: 1920px;
    height: 1045px;
    left: 0px;
    top: 2438px;

    background: #FFFFFF;
}
.b3_six{
    box-sizing: border-box;

    position: absolute;
    width: 180px;
    height: 180px;
    top: 158px;

    border: 2px solid #F8BAA0;
    border-radius: 100px; 

    font-weight: 500;
    font-size: 20px;
    line-height: 135px;

    text-align: center;  
    color: #616161;
}
#six_rule1{
    left: 421px;
}
#six_rule2{
    left: 621px;
}
#six_rule3{
    left: 821px;
}
#six_rule4{
    left: 1021px;
}
#six_rule5{
    left: 1221px;
}
#six_rule6{
    left: 1421px;
}








/* @@@@@@@@@@@@@@ */
/* 배너4 */
.banner4{
    position: absolute;
    width: 1920px;
    height: 348px;
    left: 0px;
    top: 3483px;
    
    background: #ffcb83;   
}
