.page_container{
    position: absolute;
    width: 1920px;
    height: 6669px;
    left: 0px;
    top: 0px;
    background: #65fff7;
}
.header{
    position: absolute;
    width: 1920px;
    height: 530px;
    left: 0px;
    top: 0px;

    background: #F8BAA0;
}
/* 메뉴 */
a{ text-decoration: none; }
/* 헤더 아래 있는 링크 */
.header a{
    position: absolute;
    height: 22px;
    top: 58px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    line-height: 22px;

    color: #FFFFFF;
}
/* 메뉴1 평상시 */
#menu1:link,#menu1:visited,#menu1:focus{
    position: absolute;
    width: 60px;    
    left: 828px;
    
    font-weight: 400;
    font-size: 15px;
}
/* 메뉴1 올렸을때  */
#menu1:hover{
    position: absolute;
    width: 60px;    
    left: 826px;

    font-weight: 550;
    font-size: 17px;
}
/* 메뉴2 평상시 */
#menu2:link,#menu2:visited,#menu2:focus{ 
    width: 70px;    
    left: 930px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴2 올렸을때  */
#menu2:hover{
    width: 80px;    
    left: 927px;

    font-weight: 550;
    font-size: 17px;
}
/* 메뉴3 평상시 */
#menu3:link,#menu3:visited,#menu3:focus{ 
    width: 70px;    
    left: 1046px;

    font-weight: 400;
    font-size: 15px;
}
/* 메뉴3 올렸을때  */
#menu3:hover{
    width: 80px;
    left: 1044px;

    font-weight: 550;
    font-size: 17px; 
}
#logo_img{      
    position: absolute;
    height: 300px;
    left: 295px;
    top: 100px; 
}
.header p{
    position: absolute;
    width: 450px;
    left: 370px;
    color: #FFFFFF;
}
#def1{
    height: 56px;
    top: 270px;
    
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}
#def2{
    height: 33px;
    top: 360px;
    
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}

/* @@@@@@@@@@@@@@ */
/* 배너1 */
.banner1{
    position: absolute;
    width: 1920px;
    height: 3370px;
    left: 0px;
    top: 530px;
    background: #ffffff;
/* background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF; */
}
.banner1 p{
    position: absolute;
}
/* 빅멘트 */
.big_ment{
    position: absolute;
    width: 200px;
    height: 42px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #000000;
}
#main{
    left: 394px;
    top: 195px;
}
#share{
    left: 962px;
    top: 1401px;
}
#challenge{
    left: 345px;
    top: 2046px;
}
#challenge2{
    left: 373px;
    top: 2107px;

    text-align:left;
    color: #F8BAA0;
}
#search{
    left: 1065px;
    top: 3000px;   
}
/* 스몰멘트 */
.s_ment{
    position: absolute;
    width: 680px;
    height: 144px;

    font-weight: 500;
    font-size: 28px;
    line-height: 45px;
  
    color: #616161;  
}
#main_{ 
    left: 450px;
    top: 264px; 
}
#main_def{
    left: 1195px;
    top: 257px;

    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
   
    text-align: center;
}
#share_{
    left: 964px;
    top: 1470px;
}
#challenge_{ 
    left: 1270px;
    top: 2055px;
}
#search_{
    left: 1095px;
    top: 3070px;

}
/* 앱 사진들 */
.banner1 img{
    position: absolute;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
#main_img{
    left: 1042px;
    top: 195px;  
}
#sha_img{
    left: 564px;
    top: 976px;
}
#sha_img1{
    left: 921px;
    top: 1049px;
}
#sha_img2{
    left: 1080px;
    top: 1216px;
}
#cha_img{
    left: 766px;
    top: 1810px;
    z-index: 1;
}
#search_img1{
    left: 370px;
    top: 2667px;
    z-index: 1;
}
#search_img2{
    left: 681px;
    top: 2919px;
    z-index: 1;
}
/* 라인들 */
#line{
    position: absolute;
    width: 620px;
    height: -2px;
    left: 618px;
    top: 2133px;

    border: 1px solid #F8BAA0;
}
#circle_line{
    box-sizing: border-box;

    position: absolute;
    width: 442px;
    height: 442px;
    left: 576px;
    top: 2701px;

    border: 2px solid #F8BAA0;
    border-radius: 100%;
}

/* @@@@@@@@@@@@@@@@@@ */
/* 배너 2 */
.banner2{
    position: absolute;
    width: 1920px;
    height: 850px;
    left: 0px;
    top: 3900px;
    
    background: #FFF8EE;
    border-radius: 0px;    
}
#buket{
    position: absolute;
    width: 191px;
    height: 42px;
    left: 448px;
    top: 97px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #000000;    
}
/* 메뉴들 */
#bingo{
    position: absolute;
    width: 84px;
    height: 33px;
    left: 505px;
    top: 239px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #616161;
}
#picture{
    position: absolute;
    width: 97px;
    height: 28px;
    left: 503px;
    top: 423px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #616161;
}
#diary{
    position: absolute;
    width: 68px;
    height: 28px;
    left: 502px;
    top: 610px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
    color: #616161;    
}
input[type="radio"]{
    display: none;
}
.bucket_box{
    display: none;
}
.btn{
    padding: 10px;
}
label[for*="tab"]{
    position: relative;
    width: 30px;
    height: 30px;
    top:  95px;
    left: 287px;

    display: block;
    
    background-color: #C4C4C4;
    cursor: pointer;
    margin: 156px;
    border-radius: 100%;  
    z-index: 1; 
}
input[id="tab01"]:checked ~ #bingo_box{
    display: block;
    
}
input[id="tab02"]:checked ~ #picture_box{
    display: block;
}
input[id="tab03"]:checked ~ #diary_box{
    display: block;
}
input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
    background-color: #F8BAA0;
    transition: 0.5s;
}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
    background-color: #F8BAA0;
}
input[id="tab03"]:checked ~ .btn > label[for="tab03"]{
    background-color: #F8BAA0;
}
input[id="tab01"]:checked ~ #bingo{
    font-weight: 700;
    color: #000000;
}
input[id="tab02"]:checked ~ #picture{
    font-weight: 700;
    color: #000000;
}
input[id="tab03"]:checked ~ #diary{
    font-weight: 700;
    color: #000000;
}
input[id="tab01"]:checked ~ #bingo_box img{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
} 
input[id="tab02"]:checked ~ #picture_box img{
    animation: fadein 0.7s;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
} 
input[id="tab03"]:checked ~ #diary_box img{
    animation: fadein 0.7ss;
    -webkit-animation: fadein 0.7s
}
@keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
}
@-webkit-keyframes fadein {
from {opacity: 0;}
to {opacity: 1;}
} 


#bingo_{
    position: absolute;
    width: 550px;
    height: 58px;
    left: 503px;
    top: 293px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #616161;
}
#picture_{
    position: absolute;
    width: 550px;
    height: 58px;
    left: 503px;
    top: 481px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 160% */


    color: #616161;

}
#diary_{
    position: absolute;
    width: 550px;
    height: 58px;
    left: 503px;
    top: 661px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 160% */


    color: #616161;
}
/* 선 */
.l{
    position: absolute;
    width: 0px;
    height: 374px;
    left: 467px;
    top: 278px;

    border: 0.7px solid #C4C4C4;  
}
/* 이미지 */
.banner2 img{
    position: absolute;
    left: 1165px;
    top: 100px;
    
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
/* @@@@@@@@@@@@@@@@@@ */
/* 배너 3 */
.banner3{
    position: absolute;
    width: 1920px;
    height: 1669px;
    left: 0px;
    top: 4750px;
    
    background: #FFFFFF;
}
/* 빅멘트 */
.big_ment{
    position: absolute;
    width: 200px;
    height: 42px;

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    
    color: #000000;
}
#friend{
    left: 443px;
    top: 298px;
}
#mypage{
    left: 877px;
    top: 1379px;
}
/* 중간멘트 */
.m_ment{
    position: absolute;
    width: 100px;
    height: 33px;  
    left: 468px;  

    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    color: #F8BAA0;
}
#all{
    top: 443px;
}
#ing{
    top: 617px;
}
/* 스몰멘트 */
.s_ment{
    position: absolute;
    width:480px;
    height: 58px;
    left: 468px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #616161;
}
#all_{
    top: 497px;
}
#ing_{
    top: 671px; 
}
#mypage_{
    left: 890px;
    top: 1450px;    
}
.footer{
    position: absolute;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 6419px;
    
    background: #FFF8EE;
}
/* 배너 3 이미지 */
.banner3 img{
    position: absolute;   
    top: 200px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
#friend_img1{
    left: 968px;
}
#friend_img2{
    left: 1289px;
}
#mypage_img{
    left: 515px;
    top: 981px;
}
.footer{
    position: absolute;
    width: 1920px;
    height: 250px;
    left: 0px;
    top: 6419px;
    
    background: #FFF8EE;
}
.footer div{
    position: absolute;
    width: 220px;
    height: 70px;
    top: 90px;

    background: #F8BAA0;
    border-radius: 100px;    

    font-weight: 700;
    font-size: 20px;
    line-height: 70px;

    color: #FFFFFF;
    text-align: center; 
}
#btn1{
    left: 710px;
}
#btn2{
    left: 990px;
}